* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Crete Round', sans-serif;
}
html {
  background: url(images/logo.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  overflow-y: scroll;
}
/* body {
  background-color: rgb(0, 0, 0);
} */

#construction {
  margin-top: 3em;
  color: #000000;
  text-align: center;
  font-size: 47px;
}

.logo {
  max-height: 5rem;
  min-height: 2;
  width: auto;
  position: relative;
  padding-left: 1em;
  margin-top: 11em;
  left: 18px;
  top: -107px;
}
